@charset "UTF-8";
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*, ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0; }

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg, img, embed, object, iframe {
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */ }

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type='checkbox'] {
  -webkit-appearance: checkbox;
  appearance: checkbox; }

[type='radio'] {
  -webkit-appearance: radio;
  appearance: radio; }

/**
 * Correct cursors for clickable elements.
 */
button, [type='button'], [type='reset'], [type='submit'] {
  cursor: pointer; }

button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: default; }

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto; }

select:disabled {
  opacity: inherit; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0; }

legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type='search'] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto; }

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse; }

caption {
  text-align: left; }

td, th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

html, body {
  width: 100%;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  text-size-adjust: 100%;
  letter-spacing: 0.1em; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #777;
  text-decoration: none;
  transition: 0.3s; }

a:hover {
  color: #e3a8b1;
  transition: 0.3s; }

img {
  width: 100%;
  vertical-align: bottom; }

.l-header {
  width: 100%;
  height: 70px;
  background: whitesmoke;
  display: flex;
  align-items: center; }
  .l-header__logo {
    width: 140px;
    height: 50px; }
  .l-header__list-left {
    display: flex;
    margin-left: 40px; }
    .l-header__list-left-item:not(:first-child) {
      margin-left: 20px; }
  .l-header__user-info {
    display: flex;
    margin-left: auto; }
    .l-header__user-info-item {
      line-height: 40px; }
      .l-header__user-info-item:not(:first-child) {
        margin-left: 10px; }
    .l-header__user-info-icon-img {
      width: 40px;
      height: 40px; }
  .l-header__login-nav {
    display: flex;
    margin-left: auto; }
  .l-header__login-nav-item:not(:first-child) {
    margin-left: 20px; }

.l-form {
  width: 640px;
  margin: 0 auto; }
  .l-form__title {
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
  .l-form__content {
    margin-top: 40px; }

.l-main {
  width: 1000px;
  background: burlywood;
  height: 1000px;
  margin: 0 auto;
  padding-top: 40px; }

.c-button {
  text-align: center;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  width: 140px;
  height: 40px;
  border-radius: 20px; }
  .c-button--primary {
    background: blue; }
  .c-button--secondary {
    background: greenyellow; }
  .c-button--wide {
    width: 200px; }

.c-regist-form {
  background: wheat;
  width: 640px; }
  .c-regist-form__table-row {
    display: flex;
    justify-content: center;
    height: 100px; }
  .c-regist-form__table-label {
    width: 240px;
    padding-top: 5px; }
  .c-regist-form__table-input {
    width: 400px;
    border: 1px solid grey;
    padding: 3px 5px; }
  .c-regist-form__table-input-msg {
    display: block;
    font-size: 14px; }
  .c-regist-form__table-buttonWrap {
    text-align: center; }
  .c-regist-form__table-checkboxWrap {
    margin-top: 20px; }
  .c-regist-form__table-link {
    display: block;
    margin-top: 30px; }

.p-mypage-userStatus {
  width: 100%;
  display: flex;
  padding-top: 40px; }
  .p-mypage-userStatus__box {
    width: calc(100% / 3);
    padding-left: 10px;
    padding-right: 10px;
    height: 120px; }
  .p-mypage-userStatus__box-01-img {
    width: 80px;
    height: 80px; }
  .p-mypage-userStatus__box-01-img-area {
    text-align: center; }
  .p-mypage-userStatus__box-01-info {
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .p-mypage-userStatus__box-02-top {
    height: 80px;
    line-height: 80px;
    text-align: center; }
  .p-mypage-userStatus__box-02-bottom {
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .p-mypage-userStatus__box-02-top-img {
    width: 60px;
    height: 60px; }
  .p-mypage-userStatus__box:not(:first-child) {
    border-left: 2px solid gray; }

.p-mypage-work {
  width: 100%;
  padding-top: 30px;
  background: paleturquoise; }
  .p-mypage-work__titleWrap {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .p-mypage-work__title {
    display: block; }
  .p-mypage-work__list {
    margin-top: 40px; }
  .p-mypage-work__list-post {
    width: 100%;
    height: 140px;
    display: flex; }
    .p-mypage-work__list-post:not(:first-child) {
      margin-top: 20px; }
  .p-mypage-work__list-post-imgWrap {
    width: 120px;
    height: 140px; }
  .p-mypage-work__list-post-img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .p-mypage-work__list-post-content {
    width: 500px;
    height: 100%;
    background: palegoldenrod;
    padding: 15px 10px 15px 20px; }
  .p-mypage-work__list-post-content-label {
    font-size: 12px;
    background: gray;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px; }
  .p-mypage-work__list-post-content-title {
    background: skyblue;
    margin-top: 20px;
    height: 60px; }
  .p-mypage-work__list-post-status {
    width: 200px;
    height: 100%;
    background: silver;
    padding: 15px 10px;
    text-align: center; }
  .p-mypage-work__list-post-status-img {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 16px; }
  .p-mypage-work__list-post-status-name {
    font-size: 14px; }
  .p-mypage-work__list-post-status-bar {
    display: block; }
  .p-mypage-work__lsit-post-status-step {
    display: block; }
  .p-mypage-work__list-post-buttons {
    padding: 15px 10px;
    width: 180px;
    height: 100%;
    background: #9a8878;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between; }

.p-mypage-post {
  width: 100%;
  margin-top: 30px; }
  .p-mypage-post__title {
    text-align: center; }
  .p-mypage-post__list {
    margin-top: 40px; }
  .p-mypage-post__list-post {
    width: 100%;
    height: 140px;
    display: flex; }
    .p-mypage-post__list-post:not(:first-child) {
      margin-top: 20px; }
  .p-mypage-post__list-post-imgWrap {
    width: 120px;
    height: 140px; }
  .p-mypage-post__list-post-img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .p-mypage-post__list-post-content {
    width: 500px;
    height: 100%;
    background: palegoldenrod;
    padding: 15px 10px 15px 20px; }
  .p-mypage-post__list-post-content-label {
    font-size: 12px;
    background: gray;
    color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px; }
  .p-mypage-post__list-post-content-title {
    background: skyblue;
    margin-top: 20px;
    height: 60px; }
  .p-mypage-post__list-post-status {
    width: 200px;
    height: 100%;
    background: silver;
    padding: 15px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column; }
  .p-mypage-post__list-post-status-content {
    display: block; }
  .p-mypage-post__list-post-buttons {
    padding: 15px 10px;
    width: 180px;
    height: 100%;
    background: #9a8878;
    display: flex;
    align-items: center;
    justify-content: center; }

.p-postArticle-basic__title {
  font-size: 20px; }

.p-postArticle-basic__form {
  display: flex; }

.p-postArticle-basic__form-imgWrap {
  width: 200px;
  height: 280px; }

.p-postArticle-basic__form-img-link {
  display: block;
  text-align: center;
  font-size: 14px; }

.p-postArticle-basic__form-img-msg {
  display: block;
  font-size: 14px; }

.p-postArticle-basic__form-text {
  width: 750px;
  margin-left: 50px; }

.p-postArticle-basic__form-titleWrap {
  height: 80px; }

.p-postArticle-basic__form-title-input {
  height: 30px;
  width: 100%;
  padding: 5px;
  display: block;
  border: 1px solid brown; }

.p-postArticle-basic__form-title-msg {
  font-size: 14px; }

.p-postArticle-basic__form-contentWrap {
  height: 240px;
  margin-top: 20px; }

.p-postArticle-basic__form-content-textarea {
  height: 170px;
  width: 100%;
  padding: 5px;
  display: block;
  border: 1px solid brown; }

.p-postArticle-basic__form-content-msg {
  font-size: 14px; }

.p-postArticle-detail__title {
  font-size: 20px; }

.p-postArticle-detail__initial {
  width: 100%;
  height: 140px;
  border: 1px solid gainsboro;
  padding: 15px 60px; }

.p-postArticle-detail__initial-contentWrap {
  display: inline-block;
  width: 50%; }

.p-postArticle-detail__initial-imgWrap {
  text-align: center;
  display: inline-block;
  width: 49%; }

.p-postArticle-detail__initial-img {
  width: 120px;
  height: 100px; }

.p-postArticle-detail__initial-content-buttonWrap {
  margin-top: 10px;
  text-align: center; }

.p-postArticle-child {
  margin-top: 30px; }
  .p-postArticle-child__cardsWrap {
    width: 100%; }
  .p-postArticle-child__card {
    width: 100%;
    height: 120px;
    border: 1px solid gray;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start; }
  .p-postArticle-child__card-left {
    display: inline-block;
    width: 60px; }
  .p-postArticle-child__card-left-label {
    font-size: 20px;
    font-weight: bold; }
  .p-postArticle-child__card-center {
    display: inline-block;
    width: 860px; }
  .p-postArticle-child__card-right {
    display: inline-block;
    width: 40px; }
  .p-postArticle-child__card-add {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border: 1px solid gray;
    line-height: 60px;
    text-align: center; }
  .p-postArticle-child__buttonsWrap {
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between; }

.p-showArticle-basic__card {
  display: flex; }

.p-showArticle-basic__card-title {
  font-size: 18px; }

.p-showArticle-basic__card-imgWrap {
  width: 200px;
  height: 280px; }

.p-showArticle-basic__card-contents {
  width: 750px;
  margin-left: 50px; }

.p-showArticle-basic__card-info {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 20px; }

.p-showArticle-basic__card-info-author-icon {
  width: 40px;
  height: 40px;
  margin-left: auto; }

.p-showArticle-basic__card-info-author-name {
  margin-left: 5px;
  margin-right: 10px; }

.p-showArticle-basic__card-content-text {
  margin-top: 20px;
  height: 170px;
  width: 100%;
  padding: 5px;
  display: block;
  border: 1px solid brown; }

.p-postArticle-detail__title {
  font-size: 20px; }

.p-postArticle-detail__initial {
  width: 100%;
  height: 140px;
  border: 1px solid gainsboro;
  padding: 15px 60px; }

.p-postArticle-detail__initial-contentWrap {
  display: inline-block;
  width: 50%; }

.p-postArticle-detail__initial-imgWrap {
  text-align: center;
  display: inline-block;
  width: 49%; }

.p-postArticle-detail__initial-img {
  width: 120px;
  height: 100px; }

.p-postArticle-detail__initial-content-buttonWrap {
  margin-top: 10px;
  text-align: center; }

.p-postArticle-child {
  margin-top: 30px; }
  .p-postArticle-child__cardsWrap {
    width: 100%; }
  .p-postArticle-child__card {
    width: 100%;
    height: 120px;
    border: 1px solid gray;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start; }
  .p-postArticle-child__card-left {
    display: inline-block;
    width: 60px; }
  .p-postArticle-child__card-left-label {
    font-size: 20px;
    font-weight: bold; }
  .p-postArticle-child__card-center {
    display: inline-block;
    width: 860px; }
  .p-postArticle-child__card-right {
    display: inline-block;
    width: 40px; }
  .p-postArticle-child__card-add {
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border: 1px solid gray;
    line-height: 60px;
    text-align: center; }
  .p-postArticle-child__buttonsWrap {
    width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between; }

.p-profEdit-form {
  width: 100%; }
  .p-profEdit-form__title {
    font-size: 20px; }
  .p-profEdit-form__formWrap {
    width: 840px;
    margin-left: auto; }
  .p-profEdit-form__form-imgWrap {
    height: 160px; }
  .p-profEdit-form__form-img {
    width: 120px;
    height: 120px; }
  .p-profEdit-form__form-nameWrap {
    margin-top: 10px;
    height: 100px; }
  .p-profEdit-form__form-msg {
    display: block;
    font-size: 14px; }
  .p-profEdit-form__form-name {
    width: 420px;
    height: 40px;
    display: block;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid gray; }
  .p-profEdit-form__form-must-tag {
    font-size: 12px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px; }
  .p-profEdit-form__form-any-tag {
    font-size: 12px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px; }
  .p-profEdit-form__form-introduceWrap {
    margin-top: 10px;
    height: 200px; }
  .p-profEdit-form__form-introduce {
    width: 840px;
    margin-top: 5px;
    height: 120px;
    padding: 5px;
    border: 1px solid gray; }
  .p-profEdit-form__buttonWrap {
    margin-top: 20px;
    text-align: center; }
  .p-profEdit-form__linkWrap {
    margin-top: 40px;
    text-align: center;
    font-size: 14px; }
