.l-header{
	width: 100%;
	height: 70px ;
	background: whitesmoke;
	display: flex;
	align-items: center;
	&__logo{
		width: 140px;
		height: 50px;
	}
	&__list-left{
		display: flex;
		margin-left: 40px;
		&-item:not(:first-child){
			margin-left: 20px;
		}
	}
	&__user-info{
		display: flex;
		margin-left: auto;
		&-item{
			line-height: 40px;
			&:not(:first-child){
				margin-left: 10px;
			}
		}
		&-icon-img{
			width: 40px;
			height: 40px;
		}
	}
	&__login-nav{
		display: flex;
		margin-left: auto;
	}
	&__login-nav-item:not(:first-child){
		margin-left: 20px;
	}
}