.c-regist-form{
	background: wheat;
	width: 640px;
	&__table-row{
		display: flex;
		justify-content: center;
		height: 100px;
	}
	&__table-label{
		width: 240px;
	}
	&__table-input{
		width: 400px;
		border: 1px solid grey;
		padding: 3px 5px;
	}
	&__table-input-msg{
		display: block;
		font-size: 14px;
	}
	&__table-buttonWrap{
		text-align: center;
	}
}