.p-mypage-userStatus{
	width: 100%;
	// height: 140px;
	display: flex;
	padding-top: 40px;
	&__box{
		width: calc(100% / 3);
		padding-left: 10px;
		padding-right: 10px;
		height: 120px;
	}
	&__box-01-img{
		width: 80px;
		height: 80px;
	}
	&__box-01-img-area{
		text-align: center;
	}
	&__box-01-info{
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	&__box-02-top{
		height: 80px;
		line-height: 80px;
		text-align: center;
	}
	&__box-02-bottom{
		height: 40px;
		line-height: 40px;
		text-align: center;
	}
	&__box-02-top-img{
		width: 60px;
		height: 60px;
	}
	&__box:not(:first-child){
		border-left: 2px solid gray;
	}
}
.p-mypage-work{
	width: 100%;
	padding-top: 30px;
	background: paleturquoise;
	&__titleWrap{
		width: 600px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	&__title{
		// width: 240px;
		// text-align: center;
		// display: inline-block;
		display: block;
	}
	&__list{
		margin-top: 40px;
	}
	&__list-post{
		width: 100%;
		height: 140px;
		display: flex;
		&:not(:first-child){
			margin-top: 20px;
		}
	}
	&__list-post-imgWrap{
		width: 120px;
		height: 140px;
	}
	&__list-post-img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&__list-post-content{
		width: 500px;
		height: 100%;
		background: palegoldenrod;
		padding: 15px 10px 15px 20px;
	}
	&__list-post-content-label{
		font-size: 12px;
		background: gray;
		color: white;
		border: 1px solid black;
		padding: 5px;
		border-radius: 3px;
	}
	&__list-post-content-title{
		background: skyblue;
		margin-top: 20px;
		height: 60px;
	}
	&__list-post-status{
		width: 200px;
		height: 100%;
		background: silver;
		padding: 15px 10px;
		text-align: center;
	}
	&__list-post-status-img{
		width: 40px;
		height: 40px;
		display: block;
		margin: 0 auto;
		border-radius: 16px;
	}
	&__list-post-status-name{
		font-size: 14px;
	}
	&__list-post-status-bar{
		display: block;
	}
	&__lsit-post-status-step{
		display: block;
	}
	&__list-post-buttons{
		padding: 15px 10px;
		width: 180px;
		height: 100%;
		background: rgb(154, 136, 120);
		display: flex;
		align-items: center;
		flex-flow: column;
		justify-content: space-between;
	}
}
.p-mypage-post{
	width: 100%;
	margin-top: 30px;
	&__title{
		text-align: center;
	}
	&__list{
		margin-top: 40px;
	}
	&__list-post{
		width: 100%;
		height: 140px;
		display: flex;
		&:not(:first-child){
			margin-top: 20px;
		}
	}
	&__list-post-imgWrap{
		width: 120px;
		height: 140px;
	}
	&__list-post-img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&__list-post-content{
		width: 500px;
		height: 100%;
		background: palegoldenrod;
		padding: 15px 10px 15px 20px;
	}
	&__list-post-content-label{
		font-size: 12px;
		background: gray;
		color: white;
		border: 1px solid black;
		padding: 5px;
		border-radius: 3px;
	}
	&__list-post-content-title{
		background: skyblue;
		margin-top: 20px;
		height: 60px;
	}
	&__list-post-status{
		width: 200px;
		height: 100%;
		background: silver;
		padding: 15px 10px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-flow: column;
	}
	&__list-post-status-content{
		display: block;
	}
	&__list-post-buttons{
		padding: 15px 10px;
		width: 180px;
		height: 100%;
		background: #9a8878;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}