.p-searchArticle-form{
	width: 100%;
	&__title{
		font-size: 20px;
	}
	&__form{
		display: flex;
		justify-content: space-between;
	}
	&__form-keywordWrap{
		width: 560px;
	}
	&__form-keyword-input{
		width: 100%;
		padding: 5px;
		height: 40px;
		border: 1px solid gray;
	}
	&__form-categoryWrap{
		width: 240px;
	}
	&__form-category{
		display: block;
		padding: 5px;
		height: 40px;
		width: 100%;
		border: 1px solid gray;
	}
}
.p-searchArticle-result{
	margin-top: 10px;
	width: 100%;
	&__list-card{
		display: flex;
		width: 320px;
		height: 200px;
		border: 1px solid gray;
	}
	&__list{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 20px;
		margin-top: 20px;
	}
	&__list-card-img{
		width: 140px;
		height: 200px;
	}
	&__list-card-contentsWrap{
		padding: 5px 5px 5px 10px;
	}
	&__list-card-title{
		height: 120px;
	}
	&__list-card-icon{
		width: 32px;
		height: 32px;
	}
	&__list-card-infoWrap{
		margin-top: 5px;
		height: 50px;
	}
	&__list-card-iconWrap{
		align-items: center;
		display: flex;
	}
	&__list-card-name{
		margin-left: 5px;
		font-size: 12px;
	}
	&__list-card-challenger{
		font-size: 12px;
	}
	// ページネーション
	.pagination{
		text-align: center;
	}
	.pagination a,.pagination span{
		display: inline-block;
		margin: 8px 4px;
		text-decoration: none;
		border-radius: 6px;
		background: #fff;
		width: 50px;
		height: 50px;
		padding: 18px 0;
		box-sizing: border-box;
		color: #899a96;
		line-height: 1;
	}
	.pagination a:hover{
		opacity: 0.7;
	}
	.pagination .current{
		background: transparent;
		font-weight: bold;
	}

	@media screen and (max-width: 767px){
		.pagination a,.pagination span{
			margin: 4px 2px;
			width: 46px;
			height: 46px;
			padding: 16px 0;
		}
	}
}